.hero{
  margin-top: 4rem;
  height: 95vh;
  background: url(../public/hero_img.jpg) no-repeat center ;
  background-size: cover;
  position: relative;
  background-clip: border-box;
  padding-top: 20rem;
}

.title{
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 700;
}

.about_label {
  position: absolute;
  transform: rotate(-90deg);
  text-transform: uppercase;
  font-size: 1.7rem;
  color: #999;
  letter-spacing: 0.2em;
  margin-top: 16rem;
  margin-left: 5rem;
}

.about_visual img{
  object-fit: cover;
  clip-path: polygon(25% 10%, 100% 10%, 75% 95%, 0% 95%);
}

.about_text{
  margin-top: 9rem;
}

/* ///////////////////// */


@media (max-width: 1250px){
  .title{
    font-size: 2rem;
  }
  .hero{
    padding-top: 15rem;
  }
  .about_text{
  margin-top: 4rem;
}
}
@media (max-width: 1120px){
  .about_visual img{
  object-fit: cover;
  clip-path: none;
}
.about_text{
  margin-top: 0;
}
.about_label{
  display: none;
}
}

@media (max-width: 950px){
  .title{
    font-size: 1.5rem;
  }
  .subtitle{
    font-size: 1rem;
  }
  .container-about{
    display: grid;
    grid-template-columns:repeat(1,minmax(0,1fr))
  }
}

@media (max-width: 768px) {
  .hero{
    background: none;
  }
  .title{
    font-size: 2rem;
  }
  .subtitle{
    font-size: 1.2rem;
  }
  .about_visual img{
    width: 30rem;
    height: 30rem;
    margin: 0 auto;
  }
}

@media (max-width: 500px){
  .title{
    font-size: 1.7rem;
  }
  .subtitle{
    font-size: 1rem;
  }
}

@media (max-width: 433px){
  .title{
    font-size: 1.5rem;
  }
  .subtitle{
    font-size: 1rem;
  }
  .text-logo{
    white-space: nowrap;
  }
  
}